<footer style="position: fixed; bottom: 0; left: 0; width: 100%;">
    <div class="card text-center">
        <div class="card-header">
            Seddit
        </div>
        <div class="card-body">
        <h5 class="card-title">Dive into anything!</h5>
        <a href="#" class="btn btn-primary">Contact with us!</a>
    </div>
        <div class="card-footer text-muted">
            © Seddit - 2024
        </div>
    </div>
</footer>