<div id="<%= dom_id community %>">
  <p>----------------------------------------------------------</p>
  <p>
    <strong>Name:</strong>
    <%= community.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= community.description %>
  </p>

  <p>
    <strong>Creada por:</strong>
    <%= community.user.email %>
  </p>
  <p>----------------------------------------------------------</p>
</div>
